body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

/* ------------------------------------------------------------------------- */
/* header */
header {
    /* background-image: url("http://localhost/2019summer_restaurant_menu/images/dishes.jpg"); */
    height: 200px;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

header h2 {
    padding: 50px 0;
}

header p {
    font-size: 18px;
    text-align: left;
}

section {
    height: 80%;
}

/* --------------------------- */
/* article */
article {
    float: left;
    padding: 20px;
    width: 100%;
    background-color: #f1f1f1;
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* square menu */
.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    text-align: center;
}

.menuDetailBtn {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding: 15px;
}
/* --------------------------- */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* --------------------------- */

#map_near_me {
    height: 600px;
    width: 80%;
}

/* --------------------------- */
/* footer */
footer {
    background-color: #777;
    padding: 30px;
    text-align: center;
    color: white;
    height: 20%;
}

/* --------------------------- */
/* Responsive layout - makes the two columns/boxes
stack on top of each other instead of next to each
other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }

    .searchbar input[type=text], .searchbar button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
}