body {
    margin: 0;
    padding: 0;
    /* background-image: url("http://localhost/2019summer_restaurant_menu/images/index_background.jpg") */
}

/* body:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("index_background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
} */

.blurredBox {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    padding: 80px 40px;
    background: rgba(0,0,0,0.6);
}

.blurredBox h2 {
    margin: 0;
    padding: 0 0 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.blurredBox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

.blurredBox input {
    width: 100%;
    margin-bottom: 20px;
}

.blurredBox input[type=email],
.blurredBox input[type=password] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 15px;
}

.blurredBox input[type=submit] {
    height: 30px;
    color: #fff;
    font-size: 15px;
    background: red;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-top: 15%;
}

.blurredBox a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

input[type=checkbox] {
    width: 20%;
}

.blurredBox input[type=userloc] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 15px;
}
