.plate, .item-image, .alpha-bg
{
	border-radius:50%;
}


.plate
{
	background-color: #ffa500;
	height: 100%;
	width:300px;
	position:relative;
	border-style:solid;
	border-width:3px;
	display:inline-block;
	margin: 0 10px;

}

.item-image, .alpha-bg
{
	width:90%;
	height:90%;
	position:absolute;
	margin-left:5%;
	margin-top:5%;
}

.alpha-bg
{
	background: rgba(70,130,180,0.65);
}

.alpha-bg:hover
{
	background: none;
}

.plate p
{
  	font-family: "Amatic SC";
	color:white;
	font-size:80px;
	font-weight:bold;
	text-align:center;
}

.menu-item
{
	background-color:blue;
	margin: 20px auto;
	/* 300px makes font right pos */
	height:300px;
	width:500px;
}


.fa-thumbs-down, .fa-thumbs-up
{
	font-size:80px;
	vertical-align:middle;
	color:pink;
	height:100%;

}

.fa-thumbs-down
{
	transform: scaleX(-1);
}

.fa-thumbs-up
{
	margin-bottom:50px;
}
