body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

/* ------------------------------------------------------------------------- */
/* header */
header {
    background-image: url("http://localhost/2019summer_restaurant_menu/images/dishes.jpg");
    height: 200px;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

header h2 {
    padding: 50px 0;
}

header p {
    font-size: 18px;
    text-align: left;
}

section {
    height: 80%;
}

/* ------------------------------------------------------------------------- */
/* tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

/* Style the buttons inside the tab */
.tab button {
    display: inline-block;
    background-color: inherit;
    color: black;
    padding: 18px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;

    text-decoration: none;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 15px 20px;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
}

.right-align {
    position: absolute;
    right: 15px;
    margin: 20px;
    font-size: 18px;
}

/* article */
article {
    float: left;
    padding: 20px;
    width: 100%;
    background-color: #f1f1f1;
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* square menu */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* google maps */
#map {
    height: 500px;
    width: 100%;
}

/* ------------------------------------------------------------------------- */
/* footer */
footer {
    background-color: #777;
    padding: 30px;
    text-align: center;
    color: white;
    height: 20%;
}

/* ------------------------------------------------------------------------- */
/* Responsive layout - makes the two columns/boxes
stack on top of each other instead of next to each
other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}